@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  & h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  & h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 600;
  }
} */

h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}
